[Desktop Entry]
Encoding=UTF-8
Name=IceWM Control Center
Name[ca]=Centre de control IceWM
Name[de]=IceWMcc
Name[el]=IceWMcc
Name[es]=Centro de control de IceWM
Name[fr]=centre de contrôle icewm
Name[it]=centro di controllo icewm
Name[nl]=IceWMcc
Name[pt]=centro de controle icewm
Name[sv]=IceWMcc
Comment=Simple control centre for IceWM
Comment[ca]=Centre de control senzill per IceWM
Comment[de]=Kontrollcenter für IceWM
Comment[el]=Απλό κέντρο ελέγχου για IceWM
Comment[es]=Centro de control sencillo para IceWM
Comment[fr]=Centre de contrôle élémentaire pour IceWM
Comment[it]=Semplice Centro di Controllo per IceWM
Comment[nl]=Simpel controlecentrum voor IceWM
Comment[pt]=Centro de Controlo do IceWM
Comment[sv]=Enkelt kontrollcentrum för IceWM
Exec=icewmcc
Icon=utilities-tweak-tool
Terminal=false
Type=Application
Categories=Settings; System
Hidden=false
